.card{
    background: rgba(167, 167, 167, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}